// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: 'NeueMachina';
	src: font('NeueMachina-Medium.woff2') format('woff2'), font('NeueMachina-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
