.try-fastdup {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(184px);
	padding-left: 24px;
	padding-bottom: 8px;
	padding-top: 90px;
	border-bottom: 1px solid $black-900;
	border-left: 1px solid $black-900;
	&__btn {
		padding: 0;
		padding-right: 20px;
		position: relative;
		&::before {
			content: 'For now,';
			position: absolute;
			bottom: calc(100% + 5px);
			left: 0;
			@include font(1.6rem, 1);
			letter-spacing: -0.05em;
			font-weight: 400;
			color: $black-900;
			text-transform: none;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
			background: icon('github-black.svg') no-repeat 50% / cover;
		}
	}
}

@media screen and (max-width: 991px) {
	.try-fastdup {
		display: none;
	}
}
