.coming-soon {
	&__title {
		position: relative;
		display: inline-block;
		&::after {
			content: 'With something really cool';
			position: absolute;
			bottom: 14px;
			right: 6px;
			@include font(1.6rem, 1);
			letter-spacing: -0.05em;
			font-weight: 400;
		}
	}
}
