.coming-soon {
	&__title {
		position: relative;
		display: inline-block;
		margin-bottom: 64px;
		&::after {
			content: 'With something really cool';
			position: absolute;
			font-style: italic;
			bottom: 14px;
			right: 6px;
			@include font(1.6rem, 1);
			letter-spacing: -0.05em;
			font-weight: 400;
		}
	}
}

@media screen and (max-width: 991px) {
	.coming-soon {
		&__title {
			margin-bottom: 48px;
			&::after {
				max-width: 92px;
				right: -1px;
				bottom: 8px;
				@include font(1.4rem, calc(16 / 14));
				text-align: right;
			}
		}
	}
}
