// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Gilroy', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$light-100: #fdfdfd;
$light-200: #f5f5f5;
$gray-300: #ababab;
$dark-600: #675fa7;
$black-900: #202020;
$black: #333;
